#page-title {
    font-size: 26pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#labels {
    display: flex;
    font-size: 17px;
    font-weight: 700;  
}

#measurement {
    margin-right: 9px;
}

textarea {
    background-color: "#242121";
    color: "#f8f8f8";
    padding: 3px;
    max-width: 100%;
    font-size: 16px;
    font-family: 'Cormorant Garamond';
}

#button-group {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 20px;
}

#edit, #remove, #save, #cancel {
    width: 150px;
    height: 45px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

}

#image-div{
    display: flex;
    
}

#responsive-dialog-title{
    font-family: 'Cormorant Garamond';
    font-weight: 500;
}

#dialog {
    margin: 20px;
    padding: 0px;
}