#container {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

#greeting {
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
}

.welcome-text {
    font-weight: 300;
}

.username-text {
    font-weight: 700;
}

/* Search Bar */

#searchField {
    border-radius: 8px;
    width: 280px;
    height: 45px;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Cormorant Garamond';
    padding-left: 20px;
}

#search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
}

#params {
    font-style: italic;
}

#search-button {
    width: 130px;
    height: 45px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-left: 46px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
}

#viewSaved {
    width: 230px;
    height: 60px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 40px;

}

#createCocktail {
    width: 230px;
    height: 60px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 40px;
}