h3 {
    text-transform: uppercase;
}

#item-container{
    margin: 15px;
    padding: 15px;
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

#drink-img-ingredients{
    display: flex;
    padding: 10px;
}

#item-image {
    margin-top: 20px;
    width: 115px;
    height: 115px;
}

#ingredient-header {
    margin-left: 23px;
    font-size: 19px;
}

#ingredients {
    display: row;
    margin-left: 3px;
}

#instructions-header {
    font-size: 19px;
}

#instructions {
    margin-top: 0;
    padding: 10px;
}

#save-button {
    width: 130px;
    height: 45px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 15px;
}

#add-to-saved {
    display: flex;
    justify-content: space-around;
}