#result-container{
    margin: 10px;
    padding: 10px;
    color: #000000;
}

#no-results {
    font-style: italic;
    text-align: center;
}

#list-image {
    width: 75px;
    height: auto;
    margin-right: 25px;
}

#list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    color: #000000;
    min-height: 90px;
}


#drink-name {
    font-weight: 500;
    font-size: 28px;
}

#no-results {
    color: #ffffff;
}