#logo {
    margin-top: 55%;
    width: 335px;
    height: auto;
    margin-bottom: 20px;
}

#logo-div {
    display: flex;
    justify-content: center;
}

#register-button {
    color: rgb(58, 58, 243);
    font-size: 28px;
    font-family: 'Coromont Garamond';
}

#new-user {
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
}