
.navBar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-bottom: 20px;
}

.menuIcon {
  margin-top: 20px;
  width: 23px;
  height: auto;
}


.homeIcon {
  margin: 20 auto;
  width: 110px;
  height: auto;
}

.profileIcon {
  margin-top: 18px;
  width: 27px;
  height: 29.29px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

/* .navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #242121;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px; */

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0;
} */

/* .navLink:hover {
  background-color: #008183;
} */
